<%- include('../includes/header') %>
<style>
.inline-elements i,
.inline-elements p {
  display: inline;
}
</style>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/filter.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
 <main>
      <h2 class="ownername">Available Cars</h2>

      <% if (cars.length > 0) { %>
       <ul class="car-listing">
          <% for( let car of cars) { %>
          <li class="car">
             <a href="/car-description/<%= car._id %>">
          <h3 class="car-name"><%= car.brand %> <%= car.name %> Model <%= car.model %></h3>
          <img src=<%= car.image %> alt=<%= car.name %> />
          <div class="car-details">
            <p class="price">Rs. <%= car.price %> /day</p>
            
            <div class="inline-elements">
            <i class="fa-solid fa-gears"></i>
            <p class="description"><%= car.transmission %></p>
            </div>

            <div class="inline-elements">
              <i class="fa-solid fa-gas-pump"></i>
              <p class="description"><%= car.mileage %>-km/ 1-litre</p>
            </div>

            <div class="inline-elements">
            <i class="fa-solid fa-user-group"></i>
            <p class="description"><%= car.seats %> people</p>
            </div>

            <p class="description"><%= car.cartype %></p>

            <div class="inline-elements">
            <i class="fa-solid fa-ellipsis fa-bounce"></i>
            <p class="description">more</p>
            </div>
           </div>
            </a>

          </div>
        </li>
          <% } %>
        
      </ul>

      <% } %>
      
    </main>
  </body>
 